<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login - MAPS</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{url_for('static', filename='iconfonts/mdi/css/materialdesignicons.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/vendor.bundle.base.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/vendor.bundle.addons.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
      <div class="content-wrapper d-flex align-items-center auth auth-bg-1 theme-one">
        <div class="row w-100">
          <div class="col-lg-4 mx-auto">
            <div class="auto-form-wrapper">
              <form action="{{ url_for('login') }}" method='post'>
                {% from "include/__formhelper.html" import render_register_field %}
                {{ form.csrf_token }}
                {{ render_register_field(form.username, class="form-control", placeholder="Username", autofocus="true") }}
                {{ render_register_field(form.password, class="form-control", placeholder="Password") }}  
                {{ render_register_field(form.role, class="form-control", placeholder="Role", style="height:44px;margin-right:-5px") }}
                
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Login</button>
                </div>
                <div class="form-group d-flex justify-content-between">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" checked> Keep me signed in
                    </label>
                  </div>
                </div>
                
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Not a member ?</span>
                  <a href="{{ url_for('patient.register') }}" class="text-black text-small">Create new account</a>
                </div>
              </form>
            </div>
            
            <p style="margin-top:10px" class="footer-text text-center">copyright © 2018 Bootstrapdash. All rights reserved.</p>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{url_for('static', filename='js/vendor.bundle.base.js')}}"></script>
  <script src="{{url_for('static', filename='js/vendor.bundle.addons.js')}}"></script>
  <script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
  <script src="{{url_for('static', filename='js/misc.js')}}"></script>
  <!-- endinject -->
</body>

</html>