{% extends "include/__layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
{% endblock %}

{% block mybody %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                <button id="my_calendar" class="btn btn-primary btn-block">
                    <i class="mdi mdi-eye"></i> My Calendar</button>
                <!-- <div class="wrapper mt-4">
                    <div class="item-wrapper d-flex pb-4 border-bottom">
                    <div class="status-wrapper d-flex align-items-start pr-3">
                        <span class="bg-warning rounded-circle p-1 mt-2 mx-auto"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="d-block mb-1">Dentist appoinment:metro</h6>
                        <small class="d-block mb-2">
                        <strong>7 Feb 2017, 16:00</strong>
                        </small>
                        <small class="text-gray d-block">First Remainder : 1 Hours min before</small>
                    </div>
                    </div>
                    <div class="item-wrapper d-flex py-4">
                    <div class="status-wrapper d-flex align-items-start pr-3">
                        <span class="bg-success rounded-circle p-1 mt-2 mx-auto"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="d-block mb-1">Job appoinment:metro</h6>
                        <small class="d-block mb-2">
                        <strong>9 Feb 2017, 20:00</strong>
                        </small>
                        <small class="text-gray d-block">First Remainder : 1 Hours min before</small>
                    </div>
                    </div>
                </div> -->
                <div class="wrapper">
                    <div class="wrapper d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        <small class="font-weight-bold mr-2 mb-0">Doctors</small>
                        <!-- <div class="badge badge-inverse-primary badge-pill">2</div> -->
                    </div>
                    <span class="text-gray">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </span>
                    </div>
                    <div class="calendar-aside">
                    {% for doctor in doctors %}
                    <div class="list" id="{{doctor.id}}">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face2.jpg')}}" alt="profile image">
                        <span class="user-text">{{doctor.username}}</span>
                        <span class="count online ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    {% endfor %}
                    
                    </div>
                </div>
                </div>
                <div class="col-md-8">
                <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>Doctor</th>
                        <td id="doctor_name"></td>
                    </tr>
                    <tr>
                        <th>Patient</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td><label class="badge badge-danger" id="appTime">12 May 2017</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="doctor_email" value="">
            <input type="hidden" name="patient_id" value="{{session.User.id}}">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="sub" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script>
            (function($) {
                'use strict';
                $(function() {
                var style = getComputedStyle(document.body);
                var myEvents = []
                if ($('#calendar').length) {
                    $('#calendar').fullCalendar({
                    defaultView: 'listWeek',
                    // defaultView: 'agendaFourDay',
                    views: {
                        agendaFourDay: {
                            type: 'agenda',
                            duration: { days: 7 }
                        }
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaFourDay,month,basicWeek,basicDay'
                    },
                    selectable: true,
                    eventClick: function(calEvent, jsEvent, view) {
                        // if ($(":input[name=doctor_id]").val()) {
                            if (calEvent.title == 'Free') {
                                // update patient's email into calendar event
                                var url = "{{url_for('patient.updateEventsByDoctorId')}}"
                                $.post(url, {
                                    "event_id": calEvent.id, 
                                    "doctor_id": $(":input[name=doctor_id]").val(), 
                                    "delete": "false",
                                    "start": calEvent.start.stripZone().format(),
                                    "end": calEvent.end.stripZone().format()
                                }, function(data){
                                    if(data.code == 1){
                                        calEvent.backgroundColor = '#EC4296'
                                        calEvent.title = 'Booked'
                                        $('#calendar').fullCalendar( 'updateEvent', calEvent )
                                    } 
                                })
                            } else {
                                // update patient's email into calendar event
                                var url = "{{url_for('patient.updateEventsByDoctorId')}}"
                                $.post(url, {
                                        "event_id": calEvent.id, 
                                        "doctor_id": '0', 
                                        "delete": "true"
                                    }, function(data){
                                    if(data.code == 1){
                                        // calEvent.backgroundColor = '#18d895'
                                        // calEvent.title = 'Free'
                                        $('#calendar').fullCalendar( 'removeEvents', calEvent.id )
                                    } 
                                })
                            }
                        // }
                    },
                    defaultDate: new Date(),
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    eventBackgroundColor: '#18d895',
                    eventTextColor: "white",
                    eventBorderColor: "transparent",
                    events: myEvents,
                    displayEventEnd: true
                    })
                }
                });
            })(jQuery);
            $(function(){
                $(".list").click(function(){
                    $(".list").css("backgroundColor", "#fff")
                    $('#calendar').fullCalendar('removeEvents')
                    var id = $(this).css("backgroundColor", "#eee").attr("id")
                    $(":input[name=doctor_id]").val(id)
                    var url = "/patient/get_events/"+id
                    $.getJSON(url, function(res){
                        if (res.code == 1) {
                            for(var i in res.data) {
                                var start = res.data[i]['start']['dateTime']
                                var end = res.data[i]['end']['dateTime']
                                var summary = res.data[i]['summary']
                                var eid = res.data[i]['id']
                                var bg = ''
                                if (summary == 'Free') {
                                    bg = '#18d895'
                                    $('#calendar').fullCalendar('renderEvent', {
                                        title: summary,
                                        start: start,
                                        end: end,
                                        id: eid,
                                        backgroundColor: bg,
                                        allDay: false
                                    });
                                }
                                if (summary == 'Booked') {
                                    bg = '#EC4296'
                                }
                                
                            }
                        }
                    })
                })
                let myCalendar = function(){
                    $.getJSON('{{url_for("patient.getAppointments")}}', function(res){
                        if (res.code == 1) {
                            for(var i in res.data) {
                                var start = res.data[i]['appointed_from']
                                var end = res.data[i]['appointed_to']
                                var summary = 'Booked'
                                var eid = res.data[i]['google_event_id']
                                var bg = '#EC4296'
                                $('#calendar').fullCalendar('renderEvent', {
                                    title: summary,
                                    start: start,
                                    end: end,
                                    id: eid,
                                    backgroundColor: bg,
                                    allDay: false
                                });
                            }
                        }
                    })
                }
                myCalendar()
                $("#my_calendar").click(function(){
                    $('#calendar').fullCalendar( 'removeEvents' )
                    $(":input[name=doctor_id]").val("")
                    myCalendar()
                })
            })
        </script>
{% endblock %}