{% extends "include/__layout.html" %}

{% block mybody %}
<div class="card">
    <div class="card-body">
    <h4 class="card-title">Add Notes</h4>
    <form class="forms-sample" action="{{address}}" method="post">
        {% from "include/__formhelper.html" import render_field %}
        {{ form.csrf_token }}
        {{ render_field(form.description, class="form-control", placeholder="Notes", rows="10") }}
        <br>
      <button type="submit" class="btn btn-success mr-2">Submit</button>
      <button class="btn btn-light">Cancel</button>
    </form>
  </div>
</div>
{% endblock %}