{% extends "include/__layout.html" %}

{% block mybody %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">History</h4>
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Doctor</th>
                <th>Appointment Start</th>
                <th>Appointment End</th>
                <th>Notes And Diagnoses</th>
              </tr>
            </thead>
            <tbody>
                {% for item in history %}
              <tr>
                <td><img src="{{url_for('static', filename='images/faces-clipart/pic-1.png')}}" alt="image" />&nbsp;&nbsp;&nbsp;{{item['doctor']['name']}}</td>
                <td>{{item['appointed_from']}}</td>
                <td>{{item['appointed_to']}}</td>
                <td class="text-info"> 
                    <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#note-{{item['id']}}">
                        <i class="mdi mdi-upload"></i>View Note
                    </button>
                    <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#diagnose-{{item['id']}}">
                        <i class="mdi mdi-upload"></i>View Diagnose
                    </button>
                </td>
                <!-- Note Modal -->
                <div class="modal fade" id="note-{{item['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {{item['notes']}}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>

                <!-- Diagnose Modal -->
                <div class="modal fade" id="diagnose-{{item['id']}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Diagnose</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            {{item['diagnoses']}}
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>
              </tr>
              {% endfor %}
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}