{% extends "include/__layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
{% endblock %}

{% block mybody %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                <div class="wrapper mt-4">
                    <div class="item-wrapper d-flex pb-4 border-bottom">
                    <div class="status-wrapper d-flex align-items-start pr-3">
                        <span class="bg-warning rounded-circle p-1 mt-2 mx-auto"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="d-block mb-1">Dentist appoinment:metro</h6>
                        <small class="d-block mb-2">
                        <strong>7 Feb 2017, 16:00</strong>
                        </small>
                        <small class="text-gray d-block">First Remainder : 1 Hours min before</small>
                    </div>
                    </div>
                    <div class="item-wrapper d-flex py-4">
                    <div class="status-wrapper d-flex align-items-start pr-3">
                        <span class="bg-success rounded-circle p-1 mt-2 mx-auto"></span>
                    </div>
                    <div class="text-wrapper">
                        <h6 class="d-block mb-1">Job appoinment:metro</h6>
                        <small class="d-block mb-2">
                        <strong>9 Feb 2017, 20:00</strong>
                        </small>
                        <small class="text-gray d-block">First Remainder : 1 Hours min before</small>
                    </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="wrapper d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        <small class="font-weight-bold mr-2 mb-0">Calendars</small>
                        <div class="badge badge-inverse-primary badge-pill">2</div>
                    </div>
                    <span class="text-gray">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </span>
                    </div>
                    <div class="calendar-aside">
                    <div class="list">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face2.jpg')}}" alt="profile image">
                        <span class="user-text">Luke Pachytel</span>
                        <span class="count online ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    <div class="list">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face3.jpg')}}" alt="profile image">
                        <span class="user-text">Allen Donald</span>
                        <span class="count offline ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    <div class="list">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face4.jpg')}}" alt="profile image">
                        <span class="user-text">Gabriel Rouge</span>
                        <span class="count offline ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    <div class="list">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face5.jpg')}}" alt="profile image">
                        <span class="user-text">Marina Michel</span>
                        <span class="count online ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    <div class="list">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face6.jpg')}}" alt="profile image">
                        <span class="user-text">Amanda Stone</span>
                        <span class="count online ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    </div>
                </div>
                </div>
                <div class="col-md-8">
                <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/gcal.min.js"></script>
    <script>
        (function($) {
            'use strict';
            $(function() {
            var style = getComputedStyle(document.body);
            if ($('#calendar').length) {
                $('#calendar').fullCalendar({
                googleCalendarApiKey: 'AIzaSyDcnW6WejpTOCffshGDDb4neIrXVUA1EAE',
                events: {
                    googleCalendarId: 'en.usa#holiday@group.v.calendar.google.com'
                },
                eventClick: function(event) {
                    // opens events in a popup window
                    window.open(event.url, '_blank', 'width=700,height=600');
                    return false;
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,basicWeek,basicDay'
                },
                defaultDate: '2017-07-12',
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                // events: [{
                //     title: 'All Day Event',
                //     start: '2017-07-01'
                //     },
                //     {
                //     title: 'Long Event',
                //     start: '2017-07-07',
                //     end: '2017-07-10',
                //     color: style.getPropertyValue('--info')
                //     },
                //     {
                //     id: 999,
                //     title: 'Repeating Event',
                //     start: '2017-07-09T16:00:00',
                //     color: style.getPropertyValue('--danger')
                //     },
                //     {
                //     id: 999,
                //     title: 'Repeating Event',
                //     start: '2017-07-16T16:00:00',
                //     color: style.getPropertyValue('--info')
                //     },
                //     {
                //     title: 'Conference',
                //     start: '2017-07-11',
                //     end: '2017-07-13'
                //     },
                //     {
                //     title: 'Meeting',
                //     start: '2017-07-12T10:30:00',
                //     end: '2017-07-12T12:30:00',
                //     color: style.getPropertyValue('--danger')
                //     },
                //     {
                //     title: 'Lunch',
                //     start: '2017-07-12T12:00:00'
                //     },
                //     {
                //     title: 'Meeting',
                //     start: '2017-07-12T14:30:00'
                //     },
                //     {
                //     title: 'Happy Hour',
                //     start: '2017-07-12T17:30:00'
                //     },
                //     {
                //     title: 'Dinner',
                //     start: '2017-07-12T20:00:00'
                //     },
                //     {
                //     title: 'Birthday Party',
                //     start: '2017-07-13T07:00:00'
                //     },
                //     {
                //     title: 'Click for Google',
                //     url: 'http://google.com/',
                //     start: '2017-07-28',
                //     color: style.getPropertyValue('--danger')
                //     }
                // ]
                })
            }
            });
        })(jQuery);
        
    </script>
{% endblock %}