{% extends "include/__layout.html" %}

{% block mybody %}
  <div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">All Scheduled Patients</h4>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th></th>
                <th>
                  Username
                </th>
                <th>
                  Full name
                </th>
                <th>
                  Email
                </th>
                <th>
                    Age
                </th>
                <th>
                    Sex
                </th>
                <th>
                    Phone
                </th>
                
                <th>
                  Appointment Date
                </th>
                <th>
                  Operate
                </th>
              </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
              <tr>
                <td class="py-1">
                  <img src="{{url_for('static', filename='images/faces-clipart/pic-1.png')}}" alt="image" />
                </td>
                <td>
                    {{patient['patient']['username']}}
                </td>
                <td>
                    {{patient['patient']['name']}}
                </td>
                <td>
                    {{patient['patient']['email']}}
                </td>
                <td>
                    {{patient['patient']['age']}}
                </td>
                <td>
                    {% if patient['patient']['sex'] == 1%}
                        Male
                    {% else %}
                        Female
                    {% endif %}
                </td>
                <td>
                    {{patient['patient']['phone']}}
                </td>
                <td style="width: 100px">
                    {{patient['appointed_from']}} ~<br> {{patient['appointed_to']}}
                </td>
                <td>
                    <button type="button" class="btn btn-outline-info btn-xs" onclick="location.href='/doctor/edit_notes/{{patient['id']}}'">
                        <i class="mdi mdi-file-document"></i>Add Notes
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-xs" onclick="location.href='/doctor/edit_diagnoses/{{patient['id']}}'">
                        <i class="mdi mdi-file-document"></i>Add Diagnoses
                    </button>
                    <button type="button" class="btn btn-outline-warning btn-xs" onclick="location.href='/doctor/history/{{patient['patient_id']}}'">
                        <i class="mdi mdi-cloud-download"></i>History
                    </button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}