{% extends "include/__layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
{% endblock %}

{% block mybody %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script>
        (function($) {
            'use strict';
            $(function() {
            let ev
            $.getJSON('{{url_for("doctor.getBusyTime")}}', function(res){
                for(var i in res.data) {
                    $('#calendar').fullCalendar('renderEvent', {
                        title: 'Not Available',
                        start: res.data[i]['start'],
                        end: res.data[i]['end'],
                        id: res.data[i]['id'],
                        allDay: false
                    });
                }
            })
            var style = getComputedStyle(document.body);
            if ($('#calendar').length) {
                $('#calendar').fullCalendar({
                defaultView: 'agendaFourDay',
                views: {
                    agendaFourDay: {
                        type: 'agenda',
                        duration: { days: 7 }
                    }
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaFourDay,month,basicWeek,basicDay'
                },
                selectable: true,
                select: function(startDate, endDate) {
                    let url = "{{url_for('doctor.setBusyTime')}}"
                    $.post(url, {"start": startDate.format(), "end": endDate.format()}, function(data){
                        $('#calendar').fullCalendar('renderEvent', {
                            title: 'Not Available',
                            start: startDate.format(),
                            end: endDate.format(),
                            id: data.id,
                            allDay: false
                        });
                    })
                },
                eventClick: function(calEvent, jsEvent, view) {
                    id = calEvent.id
                    let url = "{{url_for('doctor.deleteBusyTime')}}" + "/" + id
                    $.post(url, function(data){
                        window.lcoation.refresh()
                    })
                },
                defaultDate: new Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventBackgroundColor: 'red',
                events: []
                })
            }
            });
        })(jQuery);
    </script>
{% endblock %}