{% extends "include/__layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
{% endblock %}

{% block mybody %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                
                <div class="wrapper">
                    <div class="wrapper d-flex justify-content-between align-items-center mb-4">
                    <div class="d-flex align-items-center">
                        <small class="font-weight-bold mr-2 mb-0">Doctors</small>
                        <!-- <div class="badge badge-inverse-primary badge-pill">2</div> -->
                    </div>
                    <span class="text-gray">
                        <i class="mdi mdi-dots-horizontal"></i>
                    </span>
                    </div>
                    <div class="calendar-aside">
                    {% for doctor in doctors %}
                    <div class="list" id="{{doctor.id}}">
                        <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face2.jpg')}}" alt="profile image">
                        <span class="user-text">{{doctor.username}}</span>
                        <span class="count online ml-auto">
                        <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                        </span>
                    </div>
                    {% endfor %}
                    
                    </div>
                </div>
                </div>
                <div class="col-md-8">
                <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Confirm Appointment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered">
                    <tbody>
                    <tr>
                        <th>Doctor</th>
                        <td id="doctor_name"></td>
                    </tr>
                    <tr>
                        <th>Patient</th>
                        <td>Jacob</td>
                    </tr>
                    <tr>
                        <th>Time</th>
                        <td><label class="badge badge-danger" id="appTime">12 May 2017</label></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="modal-footer">
            <input type="hidden" name="doctor_id" value="">
            <input type="hidden" name="doctor_email" value="">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" id="sub" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script>
        (function($) {
            'use strict';
            $(function() {
            let ev, bg
            var style = getComputedStyle(document.body);
            if ($('#calendar').length) {
                $('#calendar').fullCalendar({
                // defaultView: 'listWeek',
                defaultView: 'agendaFourDay',
                views: {
                    agendaFourDay: {
                        type: 'agenda',
                        duration: { days: 7 }
                    }
                },
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'agendaFourDay,month,basicWeek,basicDay'
                },
                selectable: true,
                select: function(startDate, endDate) {
                    let id = $(":input[name=doctor_id]").val()
                    let url = "/clerk/set_free_time/" + id
                    $.post(url, {"start": startDate.format(), "end": endDate.format()}, function(res){
                        $('#calendar').fullCalendar('renderEvent', {
                            title: 'Free',
                            start: startDate.format(),
                            end: endDate.format(),
                            id: res.data['id'],
                            allDay: false
                        });
                    })
                },
                eventClick: function(calEvent, jsEvent, view) {
                    // id = calEvent.id
                    let id = $(":input[name=doctor_id]").val()
                    let url = "/clerk/delete_free_time/" + id 
                    $.post(url, {"freeid": calEvent.id}, function(data){
                        $('#calendar').fullCalendar( 'removeEvents', [calEvent.id] )
                    })
                },
                defaultDate: new Date(),
                navLinks: true, // can click day/week names to navigate views
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                eventBackgroundColor: '#18d895',
                eventTextColor: "white",
                eventBorderColor: "transparent",
                events: []
                })
            }
            });
        })(jQuery);
        $(function(){
            let id = $(".list").first().css("backgroundColor", "#eee").attr("id")
            if (id) {
                $(":input[name=doctor_id]").val(id)
                var url = "/clerk/get_free_time/"+id
                $.getJSON(url, function(res){
                    if (res.code == 1) {
                        for(var i in res.data) {
                            var start = res.data[i]['start']['dateTime']
                            var end = res.data[i]['end']['dateTime']
                            var summary = res.data[i]['summary']
                            var eid = res.data[i]['id']
                            var bg = ''
                            if (summary == 'Free') {
                                bg = '#18d895'
                            }
                            if (summary == 'Booked') {
                                bg = '#EC4296'
                            }
                            $('#calendar').fullCalendar('renderEvent', {
                                title: summary,
                                start: start,
                                end: end,
                                id: eid,
                                backgroundColor: bg,
                                allDay: false
                            });
                        }
                    }
                })
            }
            $(".list").click(function(){
                $(".list").css("backgroundColor", "#fff")
                $('#calendar').fullCalendar('removeEvents')
                var id = $(this).css("backgroundColor", "#eee").attr("id")
                $(":input[name=doctor_id]").val(id)
                var url = "/clerk/get_free_time/"+id
                $.getJSON(url, function(res){
                    if (res.code == 1) {
                        for(var i in res.data) {
                            var start = res.data[i]['start']['dateTime']
                            var end = res.data[i]['end']['dateTime']
                            var summary = res.data[i]['summary']
                            var eid = res.data[i]['id']
                            var bg = ''
                            if (summary == 'Free') {
                                bg = '#18d895'
                            }
                            if (summary == 'Booked') {
                                bg = '#EC4296'
                            }
                            $('#calendar').fullCalendar('renderEvent', {
                                title: summary,
                                start: start,
                                end: end,
                                id: eid,
                                backgroundColor: bg,
                                allDay: false
                            });
                        }
                    }
                })
            })
                
        })
    </script>
{% endblock %}
