{% extends "include/__layout.html" %}

{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.9.0/fullcalendar.print.css" rel='stylesheet' media='print'>
    <link rel="stylesheet" href="{{url_for('static', filename='css/calendar.css')}}">
{% endblock %}

{% block mybody %}
<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                <div class="wrapper mt-4">
                    <div class="wrapper d-flex justify-content-between align-items-center mb-4">
                        <div class="d-flex align-items-center">
                            <small class="font-weight-bold mr-2 mb-0">Doctors</small>
                        </div>
                        <span class="text-gray">
                            <i class="mdi mdi-dots-horizontal"></i>
                        </span>
                    </div>
                    <div class="calendar-aside">
                        <div class="list">
                            <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face2.jpg')}}" alt="profile image">
                            <span class="user-text">Luke Pachytel</span>
                            <span class="count online ml-auto">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                            </span>
                        </div>
                        <div class="list">
                            <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face3.jpg')}}" alt="profile image">
                            <span class="user-text">Allen Donald</span>
                            <span class="count offline ml-auto">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                            </span>
                        </div>
                        <div class="list">
                            <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face4.jpg')}}" alt="profile image">
                            <span class="user-text">Gabriel Rouge</span>
                            <span class="count offline ml-auto">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                            </span>
                        </div>
                        <div class="list">
                            <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face5.jpg')}}" alt="profile image">
                            <span class="user-text">Marina Michel</span>
                            <span class="count online ml-auto">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                            </span>
                        </div>
                        <div class="list">
                            <img class="img-xs rounded-circle" src="{{url_for('static', filename='images/faces/face6.jpg')}}" alt="profile image">
                            <span class="user-text">Amanda Stone</span>
                            <span class="count online ml-auto">
                            <i class="close ml-auto mdi mdi-close-circle-outline"></i>
                            </span>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-md-8">
                <div id="calendar"></div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Confirm Appointment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="table-responsive">
            <table class="table table-hover table-striped table-bordered">
                <tbody>
                <tr>
                    <th>Doctor</th>
                    <td>Jason</td>
                </tr>
                <tr>
                    <th>Patient</th>
                    <td>Jacob</td>
                </tr>
                <tr>
                    <th>Time</th>
                    <td><label class="badge badge-danger" id="appTime">12 May 2017</label></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
    </div>
    </div>
</div>
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{url_for('static', filename='js/hoverable-collapse.js')}}"></script>
    <script>
            (function($) {
                'use strict';
                $(function() {
                var style = getComputedStyle(document.body);
                var myEvents = [
                    {
                        start: '2018-09-18T10:00:00',
                        end: '2018-09-18T16:00:00',
                        rendering: 'background'
                    }
                ]
                if ($('#calendar').length) {
                    $('#calendar').fullCalendar({
                    defaultView: 'agendaFourDay',
                    views: {
                        agendaFourDay: {
                            type: 'agenda',
                            duration: { days: 7 }
                        }
                    },
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'agendaFourDay,month,basicWeek,basicDay'
                    },
                    selectable: true,
                    select: function(startDate, endDate) {
                        $('#appTime').html(startDate.format() + ' ~ ' + endDate.format());
                        $('#confirm').modal('show')
                    },
                    defaultDate: new Date(),
                    navLinks: true, // can click day/week names to navigate views
                    editable: true,
                    eventLimit: true, // allow "more" link when too many events
                    eventBackgroundColor: 'red',
                    events: myEvents
                    })
                }
                });
            })(jQuery);
        </script>
{% endblock %}