{% extends "bootstrap/base.html" %}
{% block title %}{{ title }} - MAPS{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='iconfonts/mdi/css/materialdesignicons.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor.bundle.base.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/vendor.bundle.addons.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
<div class="container-scroller">
    {% include 'include/__navbar.html' %}
    <!-- main body -->
    <div class="container-fluid page-body-wrapper">
        {% include 'include/__sidebar.html' %}
        <!-- main panel -->
        <div class="main-panel">
            {% block mybody %} {% endblock %}
            <!-- content-wrapper ends -->
            <!-- _footer.html -->
            {% include 'include/__footer.html' %}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% endblock %}

{% block scripts %}
    
    <script src="{{url_for('static', filename='js/vendor.bundle.base.js')}}"></script>
    <script src="{{url_for('static', filename='js/vendor.bundle.addons.js')}}"></script>
    <script src="{{url_for('static', filename='js/off-canvas.js')}}"></script>
    <script src="{{url_for('static', filename='js/misc.js')}}"></script>
    <script src="{{url_for('static', filename='js/dashboard.js')}}"></script>

{% endblock %}